<html ng-app="easishareApp">
<head>
	<title>EasiShare</title>
	<link href="css/main.css" rel="stylesheet" type="text/css"></link>
	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/jquery.soap.js" type="text/javascript"></script>
	<script src="js/xml2json.js" type="text/javascript"></script>
	<script src="js/ws.js" type="text/javascript"></script>
	<script src="js/angular.min.js" type="text/javascript"></script>
	<script src="js/index.js" type="text/javascript"></script>
</head>
<body>
<div id="sharedFiles" ng-controller="SharedFilesCtrl">
	<a href="#" ng-click="logout()">Logout</a>
	<a href="#" ng-click="reset()" ng-disabled="inProgress">Reset</a>
	<a href="#" ng-click="refresh()" ng-disabled="inProgress">Refresh</a>
	<ul>
		<li ng-repeat="file in files">
			<span>{{file.file_name}}</span>
			<p>{{file.file_size}}</p>
			<p>New: {{file.IsNew}}</p>
		</li>
	</ul>
	<img class="spinner" src="img/spin.gif" alt="Loading..." ng-show="inProgress" />	
</div>
</body>
</html>